<!DOCTYPE html>
<html>
  <head>
    <title>Boss Shauna's Angry Birds</title>
    <link rel='stylesheet' href='/stylesheets/styleish.css' />
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower" rel="stylesheet">
  </head>
  <body>

    <img id="background" src="Images/bubbles.gif">
    <center><img id="logo" src="Images/logo.png"></center>
     <h1 id="an">A<br>N<br>G<br>R<br>Y</h1>
     <h1 id="bi">B<br>I<br>R<br>D<br>S</h1>

     <br><center><a href="/angry-birds1"><div id="b1">Red <br><img src="http://bit.ly/1qsISE1"></div></center><br></a>

     <center><a href="/angry-birds/2"><div id="b2">Blue Birds <br><img src="http://bit.ly/1qsJ8CZ"></div></center><br></a>

     <a href="/angry-birds/3"><center><div id="b3">Chuck <br><img src="http://bit.ly/2046N8Q"></div></center><br></a>

     <a href="/angry-birds/4"><center><div id="b4">Bomb <br><img src="http://bit.ly/23WMFGK"></div></center><br></a>

     <a href="/angry-birds/5"><center><div id="b5">Matilda <br><img src="http://bit.ly/1YAESNv"></div></center><br></a>

     <a href="/angry-birds/6"><center><div id="b6">Hal <br><img src="http://bit.ly/25aS2s2"></div></center><br></a>

     <a href="/angry-birds/8"><center><div id="b8">Bubbles <br><img src="http://bit.ly/1OyR2Ro"></div></center><br></a>

     <a href="/angry-birds/9"><center><div id="b9">Dahlia <br><img src="http://bit.ly/1TYtmKv"></div></center><br></a>

     <a href="/angry-birds/10"><center><div id="b10">Willow <br><img src="http://bit.ly/1qsKBcx"></div></center><br></a>

     <a href="/angry-birds/11"><center><div id="b11">Ice Bird <br><img src="http://bit.ly/1TXfihp"></div></center><br></a>

     <a href="/angry-birds/12"><center><div id="b12">Mighty Eagle <br><img src="http://bit.ly/1OFg3zK"></div></center><br></a>

     <a href="/angry-birds/13"><center><div id="b13">Jace Seminara <br><img src="http://bit.ly/28UAXJR"></div></center><br></a>

     <a href="/angry-birds/14"><center><div id="b14">Bobert King <br><img src="http://bit.ly/28LEiZc"></div></center><br></a>

     <a href="/angry-birds/15"><center><div id="b15">Squirge Kolkcajskiy <br><img src="http://bit.ly/28MysLH"></div></center><br></a>
     
  
     
    <!-- <% angryMe.forEach(function(bird){ %>
        <div class ='birdie'><%= bird.name + " " + bird.abilities + " " + bird.group + " " + bird.species + " " + bird.feels %></div>

     <% }); %> -->

 </body>
</html>

 

