<!DOCTYPE html>
<html>
  <head>
    <title>Boss Shauna's Angry Birds</title>
    <link rel='stylesheet' href='/stylesheets/stylemain.css' />
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower" rel="stylesheet">
  </head>
  <body>
  <img id="background" src="/Images/background.gif">
  <img id="one" src="/Images/one.png">
  <img id="two" src="/Images/two.png">
  <img id="three" src="/Images/three.png">
  <img id="four" src="/Images/four.png">
  <img id="five" src="/Images/five.png">
  <img id="six" src="/Images/six.png">
  <img id="seven" src="/Images/seven.png">
  <img id="eight" src="/Images/eight.png">
  <a href="/angry-birds" /><img id="nine" src="/Images/logo.png"></a>

 
     <h1>BOSS SHAUNA PRESENTS</h1>
    
  
  </body>
</html>


